@import './styles';

body {
    margin: 0px;
}

.app {
    display: flex;
    flex-direction: column;
    font-family: Arial;
}

.app-title {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    background-image: linear-gradient(to right, $blue , $green);

    margin-block-end: 0px;
    margin-block-start: 0px;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
}

.favorites {
    background-color: $light-green;
}

.favorites-title {
    color: $green;
    margin: $spacing;
}

