@import '../App/styles.scss';

.item {
    margin: $spacing;
    display: flex;
    align-items: flex-start;

    ul {
        margin: 0px;
        padding: 0px;
    }

    li {
        margin-bottom: $spacing;
    }

    p {
        margin: 0px;
    }
}

.item-title {
    flex-shrink: 0;
    width: 200px;
    font-size: $font-size;
}

.favorite {
    margin-right: $spacing;
    font-size: $font-size-bigger;
    transform: translateY(-6px);

    border: none;
    background: none;
    padding: 0px;

    &:hover {
        cursor: pointer;
    }

    &:active,
    &:focus {
        outline: none;
    }
}

.favorite:before {
    content: "\2605";
    position: absolute;
}

.fav {
    color: $green;
}

.not-fav {
    color: lightgray;
}

.item-desc {
    font-size: $font-size-small;
    margin: 0px $spacing * 2;
}