@import '../App/styles.scss';

.item {
    margin: $spacing;
    display: flex;
    align-items: flex-start;
}

.item-title {
    flex-shrink: 0;
    width: 200px;
    font-size: 16px;
}

.favorite {
    margin-right: $spacing;
    font-size: 22px;
    transform: translateY(-6px);

    border: none;
    background: none;
    padding: 0px;

    &:hover {
        cursor: pointer;
    }

    &:active,
    &:focus {
        outline: none;
    }
}

.favorite:before {
    content: "\2605";
    position: absolute;
}

.fav {
    color: $green;
}

.not-fav {
    color: lightgray;
}

.item-desc {
    font-size: 14px;
}